.feature-card {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 10px 1rem;
  padding: 1rem 2rem;
  /* box-sizing: border-box; */
  border-radius: 5px;
  color: white;
  font-family: "Public Sans";
}

.feature-card span {
  color: #465eb7;
}

.feature-card h1 {
  color: #465eb7;
  margin-top: 0;
}

.feature-card p {
  color: #76839a;
}

#active-card {
  background-color: #465eb7;
  color: white !important;
}

#active-card p,
#active-card span,
#active-card h1 {
  color: white;
}
